<div class="fondo">
    <div class="pantalla">{{resultado}}</div>
    <button (click)="ingresarTexto(7)" >{{numbers[6]}}</button>
    <button (click)="ingresarTexto(8)">{{numbers[7]}}</button>
    <button (click)="ingresarTexto(9)">{{numbers[8]}}</button>
    <button (click)="ingresarTexto('+')">{{signs[0]}}</button>
    <br/>
    <button (click)="ingresarTexto(4)">{{numbers[3]}}</button>
    <button (click)="ingresarTexto(5)">{{numbers[4]}}</button>
    <button (click)="ingresarTexto(6)">{{numbers[5]}}</button>
    <button (click)="ingresarTexto('-')">{{signs[1]}}</button>
    <br/>
    <button (click)="ingresarTexto(1)">{{numbers[0]}}</button>
    <button (click)="ingresarTexto(2)">{{numbers[1]}}</button>
    <button (click)="ingresarTexto(3)">{{numbers[2]}}</button>
    <button (click)="ingresarTexto('/')">{{signs[3]}}</button>
    <br/>
    <button (click)="ingresarTexto(0)">{{numbers[9]}}</button>
    <button (click)="ingresarTexto('.')">{{signs [5]}}</button>
    <button (click)="calcularResultado()">{{signs [4]}}</button>
    <button (click)="ingresarTexto('*')">{{signs [2]}}</button>
</div>