<h1>{{title}}</h1>
<div class="container">
    <form>
        Ingrese los numeros para hacer la operacion<br/><br/>
        <input type="number" [(ngModel)]="number1" name="number1"> <br/><br/>
        <input type="number" [(ngModel)]="number2" name="number2"><br/><br/>
    <input class="btn btn-primary" type="submit" (click)="suma()" value="+"><input class="btn btn-outline-primary" type="submit" (click)="resta()" value="-"><input class="btn btn-secondary inactive" type="submit" (click)="multiplicacion()" value="*"><input class="btn btn-outline-success" type="submit" (click)="division()" value="/"><br/><br/>
    <p>Resultado = {{resultado}}</p>
    
    </form>
</div>

